.list {
    background-color: rgba(247, 247, 255, 0.6);
    width: 600px;
    margin: 50px auto;
    position: relative;
}

.list h3 {
    display: block;
    padding: 10px;
    background-color: #577399;
    color: #f7f7ff;
    font: 16px/30px "Open Sans Semibold", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.list ul {
    list-style: none;
    max-height: 710px;
    overflow: auto;
}

.list li a {
    display: block;
    position: relative;
    height: 70px;
    border-bottom: 1px dashed #5c768a;
    text-decoration: none;
    line-height: 70px;
    padding: 0 10px;
}

.list li:last-child a {
    border: none;
}

.list a i {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.list a:hover {
    background-color: rgba(189, 213, 234, 0.5);
}

.list span {
    padding-right: 30px;
    font-size: 12px;
    line-height: 70px;
    font-style: italic;
    color: #495867;
}

.list p {
    display: inline;
    font-size: 12px;
    color: #839cb0;
    margin: 0 5px;
}

.list b {
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 18px;
    right: 50px;
    background: url("/matcha/webroot/images/star.png") 50% 50% no-repeat;
    background-size: contain;
    font: 900 8px/36px Arial, sans-serif;
    text-align: center;
    color: #577399;
}

.sort, .search {
    width: 600px;
    margin: 0 auto -20px;
}

.sort > div, .search > div {
    margin: 20px 0;
}

.sort h5, .sort select, .sort input, .sort label, .sort a {
    height: 24px;
    vertical-align: top;
}

.sort label, .sort a {
    display: inline-block;
    width: 100px;
    margin-right: 15px;
    background: #495867;
    color: #f7f7ff;
    font-size: 11px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.sort a:hover, .sort label:hover, .sort input[type="radio"]:checked + label {
    background: #fe5f55;
}

.sort h5, .search h5 {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    line-height: 24px;
}

.sort h5 {
    width: 50px;
}

.search h5 {
    width: 100px;
}

.sort select {
    width: 130px;
    margin-right: 10px;
    padding: 2px;
    border: 1px solid #f7f7ff;
    box-sizing: border-box;
    height: 24px;
}

.search span > h5, .search span > select, .search span > input {
    vertical-align: top;
}

.search input {
    width: 60px;
    margin-bottom: 10px;
}

.search select {
    margin-top: 2px;
    margin-right: 15px;
}

.sort input[type="submit"], .search input[type="submit"] {
    width: 120px;
    text-decoration: none;
    padding: 5px 10px;
    color: #f7f7ff;
    background-color: #577399;
    font-size: 11px;
    text-transform: uppercase;
}

.sort input[type="submit"]:hover, .search input[type="submit"]:hover {
    background-color: #495867;
}
