@import url('/matcha/webroot/css/registration.css');
@import url('/matcha/webroot/css/menu.css');
@import url('/matcha/webroot/css/profile.css');
@import url('/matcha/webroot/css/userpage.css');
@import url('/matcha/webroot/css/lists.css');
@import url('/matcha/webroot/css/message.css');
@import url('/matcha/webroot/css/mobile.css');

html, body, div, p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

input, select, textarea, button {
    color: #495867;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

select option:hover {
    background-color: #bdd5ea;
}

input[type="submit"] {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
}

html {
    height: 100%;
}

body {
    background-color: #f7f7ff;
    color: #495867;
    font-family: "Open Sans", sans-serif;
    min-height: 100%;
    height: 100%;
}

body > div {
    min-height: 100%;
    height: 100%;
}

.center {
    width: 970px;
    margin: 0 auto;
    position: relative;
}

.header {
    background-color: #fe5f55;
    color: #f7f7ff;
    height: 50px;
}

.header a {
    color: inherit;
    text-decoration: none;
}

.header a:hover {
    color: #bdd5ea;
}

.header:after {
    display: table;
    clear: both;
    content: "";
    height: 0;
}

.header > .center > div {
    float: right;
}

.header > .center > .logo {
    float: left;
    width: 140px;
}

.logo h1 {
    font: 45px/45px "Indie Flower", sans-serif;
    margin-top: 5px;
    text-align: center;
}

.menu li {
    display: inline-block;
    list-style: none;
    width: 120px;
    text-align: center;
    padding: 10px 0;
}

.menu li > a {
    display: block;
    color: inherit;
    text-decoration: none;
    font: 16px/30px "Open Sans Semibold", sans-serif;
    border-right: 1px solid #495867;
}

.menu li:last-child > a {
    border-right: none;
}

.header-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    position: relative;
}

.notification:hover img, .self:hover > div {
    opacity: 0.8;
    cursor: pointer;
}

.header-icon img {
    width: 40px;
    margin: auto;
}

.self > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.header-icon i {
    display: block;
    width: 16px;
    height: 10px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -8px;
    margin-top: -5px;
    text-align: center;
    color: #577399;
    font: 900 9px/10px Arial, sans-serif;
}

.main {
    min-height: 100%;
    margin-top: -50px;
    padding-top: 50px;
    background: url('/matcha/webroot/images/couple-cover-image.jpg') 0 50px no-repeat;
    background-size: cover;
    z-index: 20;
}

.footer {
    font-family: monospace;
    font-style: italic;
    color: #505050;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-top: 10px;
}

/* Ландшафтный экран телефоны */
@media (max-width: 480px) {}

/* От ландшафтного экрана телефона до потретного планшета */
@media (min-width: 481px) and (max-width: 767px) {}

/* От портретного планшета до ландшафтного экрана и настольных дисплеев */
@media (min-width: 768px) and (max-width: 979px) {}

/* Большой дисплей */
@media (min-width: 1200px) {}
