.self ul {
    display: none;
    position: absolute;
    top: 54px;
    right: 0;
    width: 100px;
    list-style: none;
    z-index: 40;
    background-color: #f7f7ff;
    color: #577399;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #bdd5ea;
    border-radius: 3px;
    padding: 5px 0;
}

.self b.arrow-border {
    display: none;
    font-size: 0;
    position: absolute;
    top: 50px;
    right: 19px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #bdd5ea;
    z-index: 30;
}

.self b.arrow {
    display: none;
    font-size: 0;
    position: absolute;
    top: 51px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f7f7ff;
    z-index: 50;
}

.self ul > li > a {
    display: block;
    height: 20px;
    padding: 4px 10px;
}

.self ul > li > a:hover {
    background-color: #bdd5ea;
    color: #495867;
}

.self ul > li:last-child {
    border-top: 1px solid #577399;
}

.notification ul {
    display: none;
}

