.messages {
    background-color: rgba(247, 247, 255, 0.6);
    width: 800px;
    padding: 30px 10px 40px;
    margin: 50px auto;
    position: relative;
    overflow: auto;
}

.message {
    width: 70%;
    margin: 0;
    display: inline-block;
    float: right;
    background-color: rgba(247, 247, 255, 0.6);
    position: relative;
}

.message h3 {
    display: block;
    padding: 10px;
    background-color: #577399;
    color: #f7f7ff;
    font: 16px/30px "Open Sans Semibold", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.message ul {
    list-style: none;
    max-height: 400px;
    overflow: auto;
    margin-top: 10px;
}

.message li {
    width:100%;
    overflow: auto;
}

.message div {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}

.message  i {
    position: absolute;
    top:0;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

.message span {
    font-size: 12px;
    line-height: 70px;
    font-style: italic;
    color: #495867;
}

.message textarea {
    width: 85%;
    resize: none;
    margin-top:3px;
}

.message form {
    margin: 10px;
}

.message form button {
    text-decoration: none;
    color: #f7f7ff;
    background-color: #577399;
    float: right;
    margin-right: 10px;
}

.message form button:hover {
    cursor: pointer;
}

.message img {
    width: 20px;
    margin: 5px;
}

.message-item {
    width: 50%;
    display: inline-block;
    margin-right: 30%;
    float: right;
}

.text {
    background-color: #fff;
    width: 100%;
    display: block;
    padding: 10px;
}

.time {
    display: block;
}