@media screen and (max-width: 780px) {
    body {
        width: 100vw;
    }

    body > div, .main, .center, .profile form > div, .userpage {
        width: 100%;
    }

    .center {
        padding: 0;
    }

    .profile form, .list, .messages {
        width: 90%;
        margin: 50px auto;
    }

    .profile form input:not([type="submit"]):not([type="file"]), .profile form select, .profile textarea {
        width: 85%;
    }

    .header > .center > .menu {
        float: none;
    }

    .menu {
        padding-top: 50px;
        width: 100%;
        background-color: #fe5f55;
    }

    .menu ul {
        border-top: 1px solid #495867;
    }

    .menu li {
        width: 33%;
    }

    .menu li > a {
        font: 10px/15px "Open Sans Semibold", sans-serif;
    }

    .profile .img {
        width: 70vw;
        height: 70vw;
    }

    .gallery {
        height: auto;
    }

    .userpage {
        padding: 10px 0;
    }

    form.upload-photo {
        height: 50vw;
        width: 50vw;
        border:none;
    }

    .gallery > div, .user-photo {
        width: 50vw;
        height: 50vw;
        background-image: url("/matcha/webroot/images/camera.png");
    }

    .userpage .self ul {
        left: 10px;
    }

    .sort, .search {
        width: 90%;
        margin: 50px auto;
    }

    .sort select {
        display: block;
        margin: 5px 0;
    }

    .sort h5, .search h5 {
        color: #fff;
    }
}

@media screen and (max-width: 480px) {

    .profile .img {
        width: 65vw;
        height: 65vw;
    }

    form.upload-photo {
        height: 90vw;
        width: 90vw;
        border:none;
    }

    .gallery > div, .user-photo {
        width: 90vw;
        height: 90vw;
        margin-left:5vw;
        background-image: url("/matcha/webroot/images/camera.png");
    }

    .list p {
        display: block;
        margin: -55px 0;
    }

    .top-right input[type="image"] {
        width: 40px;
        height: 40px;
    }

    .top-right form img {
        width: 20px;
    }

    .sort a {
        display: inline-block;
        width: 7em;
        margin-right: 10px;
    }

    .register {
        width: 90%;
        left: 5%;
    }

    .register form input:not([type="submit"]), .register form select {
        width:100%;
    }

    .confirm a.button:first-child {
        margin: 0;
    }

    .confirm a.button {
        width: 50%;
    }

    .search input[type="submit"] {
        margin-top: 5px;
    }

    .messages > .chat h3 {
        display: none;
    }

    .messages > .list li a {
        padding: 30px 20px 0;
    }

    .messages > .list a i {
        left: 10px;
    }

    .message-item {
        width: 60%;
        display: inline-block;
        margin-right: 15%;
        float: right;
    }

    .message li {
        margin-bottom: 1em;
        word-wrap: break-word;
    }

    .messages i {
        width: 40px;
        height: 40px;
    }

    .messages .login {
        display: none;
    }

    .message form button {
        width: 10%;
        background-color: unset;
        border: none;
    }

    .messages > .list span {
        padding: 0;
    }
}