.profile form {
    background-color: rgba(247, 247, 255, 0.6);
    width: 800px;
    padding: 30px 10px 40px;
    margin: 50px auto;
    position: relative;
}

.profile span {
    font-size: 12px;
    line-height: 17px;
    color: #577399;
}

.profile h4 {
    font-size: 15px;
    margin-bottom: 15px;
}

.profile form input:not([type="submit"]):not([type="file"]), .profile form select, .profile textarea {
    width: 300px;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #f7f7ff;
    box-sizing: border-box;
    height: 24px;
}

.profile form input[type="submit"], .profile a.button {
    text-decoration: none;
    padding: 5px 10px;
    color: #f7f7ff;
    background-color: #577399;
    height: 30px;
    font-size: 11px;
    text-transform: uppercase;
}

.profile form input[type="submit"] {
    margin-left: 30px;
}

.checkmark {
    display: inline-block;
    width: 28px;
    height: 22px;
    margin-bottom: 4px;
    background: url("/matcha/webroot/images/checkmark.png") 50% 50% no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-left: 6px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.profile input[type="file"] {
    display: none;
}

.profile .img {
    width: 300px;
    height: 300px;
    background: url("/matcha/webroot/images/photo-placeholder.jpg") no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: 5px;
    border: 1px solid rgba(247, 247, 255, 0.5);
}

.profile .photo {
    text-align: right;
}

.profile label.button {
    display: inline-block;
    width: 100px;
    height: 20px;
    margin-right: 50px;
    padding: 5px 10px;
    color: #f7f7ff;
    background-color: #577399;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.profile textarea {
    height: 120px;
    margin-bottom: 5px;
    resize: none;
}

.profile form input[type="submit"]:hover, .profile a.button:hover, .profile label.button:hover {
    background-color: #495867;
}

.profile form input.incorrect {
    border: 1px solid rgba(254, 95, 85, 0.5) !important;
}

.profile form > div {
    width: 50%;
    float: left;
    padding-left: 50px;
    box-sizing: border-box;
}

.profile form > div:last-child {
    width: 100%;
    float: none;
    clear: both;
    text-align: center;
    padding: 20px 0 0;
}

.profile form p.error_msg {
    width: 100%;
    margin: 0 0 10px;
    font-size: 12px;
    color: #fe5f55;
}

#city, input[readonly] {
    color: #839cb0;
}

#city + img {
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #bdd5ea;
    border-radius: 50%;
}

#city + img:hover {
    border: 1px solid #f7f7ff;
}

#container, #white-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(73, 88, 103, 0.8);
    top: 0;
    left: 0;
}

#white-container {
    background: #f7f7ff;
}

#map {
    width: 80%;
    height: 80%;
    display: none;
    margin: 7% 10%;
}

#close-btn, #close-list-btn {
    display: none;
    cursor: pointer;
    border: 1px solid #fe5f55;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}

#close-btn:hover {
    background: #f7f7ff;
}

#close-list-btn:hover {
    background: #839cb0;
}

.interest {
    text-align: right;
}

.interest ul {
    list-style: none;
    width: 300px;
    text-align: left;
}

.interest li {
    font-size: 12px;
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 3px;
    margin-right: 5px;
    background: rgba(131, 156, 176, 0.3);
    border: 1px solid rgba(247, 247, 255, 0.5);
    border-radius: 3px;
}

.interest li:last-child {
    margin-bottom: 7px;
}

.interest li:empty {
    padding: 0;
    height: 0;
}

#white-container {
    box-sizing: border-box;
    padding: 90px 80px;
}

#white-container label {
    display: block;
    height: 26px;
    line-height: 25px;
    margin-bottom: 15px;
    vertical-align: middle;
    width: 185px;
    padding-left: 10px;
    float: left;
    cursor: pointer;
}

.profile #white-container input[type="checkbox"] {
    display: block;
    float: left;
    width: 25px;
    margin: 0;
    vertical-align: middle;
}

