.register {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
}

.register > div {
    position: relative;
}

.register input[name="reg-tab"], .register form {
    display: none;
}

.register input[name="reg-tab"] + label {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #577399;
    color: #f7f7ff;
    font: 16px/30px "Open Sans Semibold", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.sendpass h3, .updatepass h3, .confirm h3 {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    background-color: #577399;
    color: #f7f7ff;
    font: 16px/30px "Open Sans Semibold", sans-serif;
    text-align: center;
    text-transform: uppercase;

}

.register input[name="reg-tab"] + label:hover {
    background-color: #495867;
    cursor: pointer;
}

.register input[name="reg-tab"]:checked + label {
    background-color: #fe5f55;
}

.register input[name="reg-tab"]:checked + label + form, .sendpass form, .updatepass form {
    display: block;
}

.register input[name="reg-tab"] + label:after {
    display: table;
    clear: both;
    content: "";
    height: 0;
}

.register form, .register div.form-layout {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 50px 40px;
    background-color: rgba(247, 247, 255, 0.6);
}

.register span {
    font-size: 12px;
    color: #577399;
}

.register h4 {
    font-size: 15px;
    margin-bottom: 15px;
}

.register form input:not([type="submit"]), .register form select {
    width: 300px;
    margin-bottom: 10px;
    padding: 2px;
    border: 1px solid #f7f7ff;
}

.register form input[type="submit"], a.button {
    text-decoration: none;
    padding: 5px 10px;
    color: #f7f7ff;
    background-color: #577399;
    font-size: 11px;
    text-transform: uppercase;
}

.register form input[type="submit"]:hover, a.button:hover {
    background-color: #495867;
}

.register form input.incorrect {
    border: 1px solid rgba(254, 95, 85, 0.5);
}

.register p.error_msg {
    width: 300px;
    margin: 0 0 10px;
    font-size: 12px;
    color: #fe5f55;
}

.confirm a.button {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 100px;
    background-color: #fe5f55;
    text-align: center;
    line-height: 20px;
}

.confirm a.button:first-child {
    margin-right: 60px;
    margin-left: 20px;
    background-color: #577399;
}

.confirm a.button:hover {
    background-color: #495867;
}
