.userpage {
    background-color: rgba(247, 247, 255, 0.6);
    width: 800px;
    padding: 30px 10px 40px;
    margin: 50px auto;
    position: relative;
}

.user-main-info i {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
}

.user-main-info i > a > img {
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

b#status {
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 1px;
}

.user-main-info > h3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font: 16px/30px "Open Sans Semibold", sans-serif;
    position: relative;
}

.user-main-info span {
    font: 12px/30px "Open Sans", sans-serif;
    display: inline-block;
    width: 250px;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    left: 0;
}

.user-photos {
    padding: 20px 0;
}

.gallery {
    height: 200px;
    background: rgba(131, 156, 176, 0.3);
}

form.upload-photo {
    position: relative;
    border: 1px dashed #8ba2b7;
    height: 198px;
    width: 198px;
    float: left;
}

.upload-photo label.button {
    display: inline-block;
    height: 20px;
    padding: 5px 10px;
    color: #f7f7ff;
    background-color: #577399;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: -1px;
    right: -1px;
}

.upload-photo input[type="file"] {
    display: none;
}

.upload-photo label.button > b {
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    line-height: 20px;
}

.upload-photo label.button:hover {
    background-color: #495867;
}

.gallery > div, .user-photo {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    float: left;
}

.gallery > div {
    position: relative;
}

.gallery:after {
    display: table;
    clear: both;
    content: "";
    height: 0;
}

.delete-photo {
    position: absolute;
    top: 2px;
    right: 2px;
}

.delete-photo input[type="image"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #fe5f55;
    border-radius: 50%;
}

.delete-photo input[type="image"]:hover {
    background: #f7f7ff;
}

.user-photo {
    position: absolute;
    top: -1px;
    left: -1px;
}

#save-icon {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    content: '';
}

#save-icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.user-other-info > div {
    float: left;
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.user-other-info:after {
    display: table;
    clear: both;
    content: "";
    height: 0;
}

.user-other-info h2 {
    font: 22px/30px "Open Sans Semibold", sans-serif;
    font-weight: 600;
    color: #5c768a;
    margin-bottom: 100px;
}

.user-other-info h3 {
    font: 20px/30px "Open Sans Semibold", sans-serif;
    margin-top: 10px;
}

.user-other-info p {
    font: 14px/20px "Open Sans Semibold", sans-serif;
    border-bottom: 1px dashed #5c768a;
    min-height: 30px;
}

.user-other-info p:last-child {
    border: none;
}

.user-other-info ul {
    list-style: none;
}

.user-other-info li {
    display: inline-block;
    padding: 2px 5px;
    margin-bottom: 3px;
    margin-right: 5px;
    background: rgba(131, 156, 176, 0.3);
    border: 1px solid rgba(247, 247, 255, 0.5);
    border-radius: 3px;
    font-size: 14px;
}

.user-other-info i {
    display: block;
    margin: 22px auto 50px;
    width: 80px;
    height: 80px;
    background: url('/matcha/webroot/images/star_.png') 50% 50% no-repeat;
    background-size: contain;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    font-style: normal;
    color: #577399;
}

.top-right {
    position: absolute;
    top: 30px;
    right: 10px;
}

.top-right a {
    font-size: 14px;
    line-height: 20px;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
}

.top-right input[type="image"] {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.top-right input[type="image"]:hover {
    opacity: 0.8;
}

.top-right form img {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
}

.checkmark-1, .friends-1 {
    display: block;
}

.checkmark-0, .friends-0 {
    display: none;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #577399;
    border-radius: 50%;
    display: inline-block;
}

.dots {
    height: 10px;
}

.userpage .header-icon input {
    background-color: #f7f7ff;
}

.userpage .header-icon ul {
    width:10em;
}

.userpage .header-icon div {
    margin-left: 20px;
}

.userpage .header-icon {
    height : 10px;
}

.userpage .self b.arrow-border {
    top: 30px;
}

.userpage .self b.arrow {
    top: 31px;
}

.userpage .self ul {
    top: 34px;
}





